<div id="course-area" class="course-area bg-gray pt-90 pb-60">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-12 mb-45">
                <h3 class="heading">course category</h3>
                <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetur maksu rez do eiusmod tempor magna aliqua</p>
                </div>
                <i class="icofont icofont-traffic-light"></i>
            </div>
        </div>
        <!-- Course Wrapper -->
        <div class="course-wrapper row">
            <div class="col-lg-3 col-md-6 col-12 mb-30 fix">
                <div class="course-item text-center">
                    <i class="icofont icofont-car-alt-4"></i>
                    <h4>normal driving</h4>
                    <p>There are many variations of items passag LoIpsum available the majority ratomised </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-30 fix">
                <div class="course-item text-center">
                    <i class="icofont icofont-ambulance-cross"></i>
                    <h4>defensive</h4>
                    <p>There are many variations of items passag LoIpsum available the majority ratomised </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-30 fix">
                <div class="course-item text-center">
                    <i class="icofont icofont-fast-delivery"></i>
                    <h4>power booster</h4>
                    <p>There are many variations of items passag LoIpsum available the majority ratomised </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-30 fix">
                <div class="course-item text-center">
                    <i class="icofont icofont-rocket-alt-2"></i>
                    <h4>crash level</h4>
                    <p>There are many variations of items passag LoIpsum available the majority ratomised </p>
                </div>
            </div>
        </div>
    </div>
</div>
