<div id="faq-area" class="faq-area bg-white pt-90 pb-60">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-12 mb-45">
                <h3 class="heading">Frequently asked questions</h3>
                <div class="excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetur maksu rez do eiusmod tempor magna aliqua</p>
                </div>
                <i class="icofont icofont-traffic-light"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="panel-group" id="faq">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="true" href="#faq-1">There are many variations of passages of Lorem Ipsum?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse show" data-parent="#faq">
                            <div class="panel-body">
                                <p>It is a long established the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="false" href="#faq-2">There are many variations of passages of Lorem Ipsum?</a></h4>
                        </div>
                        <div id="faq-2" class="panel-collapse collapse" data-parent="#faq">
                            <div class="panel-body">
                                <p>It is a long established fact that a reader will be distracted by the readaible is an content of  the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="false" href="#faq-3">There are many variations of passages of Lorem Ipsum?</a></h4>
                        </div>
                        <div id="faq-3" class="panel-collapse collapse" data-parent="#faq">
                            <div class="panel-body">
                                <p>It is a long established fact that a reader will be distracted by the readaible is an content of  the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="false" href="#faq-4">There are many variations of passages of Lorem Ipsum?</a></h4>
                        </div>
                        <div id="faq-4" class="panel-collapse collapse" data-parent="#faq">
                            <div class="panel-body">
                                <p>It is a long established fact that a reader will be distracted by the readaible is an content of  the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-image col-lg-6 col-12">
                <img src="img/faq.png" alt="" />
            </div>
        </div>
    </div>
</div>
