<!-- Header Top -->
<div class="header-top-wrapper row">
    <div class="header-top-left text-left col-md-6 col-12">
        <p><i class="icofont icofont-envelope"></i><span>info@example.com</span></p>
        <p><i class="icofont icofont-ui-call"></i><span>+012 345 678 102 </span></p>
    </div>
    <div class="header-top-right text-right col-md-6 col-12">
        <p><i class="icofont icofont-clock-time"></i><span>Mon - Sat : 8am - 9pm</span></p>
    </div>
</div>
