<div id="testimonial-area" class="testimonial-area overlay overlay-white overlay-80 text-center pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <!-- Testimonial Image Slider -->
                <div class="ti-slider mb-40">
                    <div class="single-slide"><div class="image fix"><img src="img/testimonial/1.jpg" alt="" /></div></div>
                    <div class="single-slide"><div class="image fix"><img src="img/testimonial/2.jpg" alt="" /></div></div>
                    <div class="single-slide"><div class="image fix"><img src="img/testimonial/3.jpg" alt="" /></div></div>
                    <div class="single-slide"><div class="image fix"><img src="img/testimonial/4.jpg" alt="" /></div></div>
                </div>
                <!-- Testimonial Content Slider -->
                <div class="tc-slider">
                    <div class="single-slide">
                        <p>There are many many variations of passages of Lorem Ipsum available, but the majority have suffered   alteration in some form, by hum domised words which is don't look believable.</p>
                        <h5>momen bhuiyan</h5>
                        <span>Graphic Designer</span>
                    </div>
                    <div class="single-slide">
                        <p>There are many many variations of passages of Lorem Ipsum available, but the majority have suffered   alteration in some form, by hum domised words which is don't look believable.</p>
                        <h5>Tasnim Akter</h5>
                        <span>Graphic Designer</span>
                    </div>
                    <div class="single-slide">
                        <p>There are many many variations of passages of Lorem Ipsum available, but the majority have suffered   alteration in some form, by hum domised words which is don't look believable.</p>
                        <h5>momen bhuiyan</h5>
                        <span>Graphic Designer</span>
                    </div>
                    <div class="single-slide">
                        <p>There are many many variations of passages of Lorem Ipsum available, but the majority have suffered   alteration in some form, by hum domised words which is don't look believable.</p>
                        <h5>Tasnim Akter</h5>
                        <span>Graphic Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Arrows -->
    <button class="ts-arrows ts-prev"><i class="icofont icofont-caret-left"></i></button>
    <button class="ts-arrows ts-next"><i class="icofont icofont-caret-right"></i></button>
</div>
