{% extends 'base.html.twig' %}
{% block body %}
  <!-- Body main wrapper start -->
  <div class="wrapper fix">
    <!-- Header 1
    ============================================ -->
    {% include 'common/header_1.html.twig' %}
    <!-- Hero Slide Area
    ============================================ -->
    {% include 'common/hero_slide_area.html.twig' %}

    <!-- Feature Area
    ============================================ -->
    {% include 'common/feature_area.html.twig' %}
    <!-- Funfact Area
    ============================================ -->
    <!-- Course Area
    ============================================ -->
    {% include 'common/course_area.html.twig' %}

    <!-- Video Area
    ============================================ -->
    {% include 'common/video_area.html.twig' %}

    <!-- Gallery Area
    ============================================ -->
    {% include 'common/gallery_area.html.twig' %}

    <!-- Testimonial Area
    ============================================ -->
    {% include 'common/testimonail_area.html.twig' %}

    <!-- Instructor Area
    ============================================ -->
    {% include 'common/instructor_area.html.twig' %}

    <!-- Pricing Area
    ============================================ -->
    {% include 'common/pricing_area.html.twig' %}

    <!-- FAQ Area
    ============================================ -->
    {% include 'common/faq_area.html.twig' %}

    <!-- CTA Area
        ============================================ -->
    {% include 'common/cta_area.html.twig' %}
    <!-- Footer Area
    ============================================ -->
    {% include 'common/footer.html.twig' %}

  </div>

{% endblock %}
